Post::create([
    'title' => 'judul kesatu',
    'category_id'=>2,
    'slug'=>'JudulKesatu',
    'excerpt' => 'excerpt Kesatu',
    'body' => '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, ratione asperiores aperiam voluptatem quidem sit esse aut cupiditate officia reiciendis at facilis ea libero aliquid, nobis vel. Molestias perferendis nam laborum, ratione aperiam provident maiores nihil iste consequatur aspernatur, quos non et asperiores possimus! Deserunt accusamus consequatur enim! Distinctio, nihil?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea doloribus, nobis inventore dolores quos quae dolorem harum, cumque voluptates corporis porro maxime repudiandae eius neque libero repellendus quisquam nihil.</p>'
])
Category::create([
    'name'=>'Persona',
    'slug'=>'persona'
])
Lorem ipsum dolor sit amet.